* {
	box-sizing: border-box;
}

html {
  background-size: cover;
}

body {
  /* background: url(); */
  background-color: #4C5355;
  color: #CBCDCB;
}

/* ============= Nav Bar ============= */
nav {
  background-color: rgba(76, 83, 85, .8);
  height: 85px;
  padding: 7px;
}

.nav-link {
  color: #CBCDCB;
}

.nav-link:hover,
#selected:hover {
  background-color: #CBCDCB;
  color: #C44B4F;
}

#selected {
  background-color: rgba(0, 0, 0, 0);
  color: #CBCDCB;
  border: 3px solid #607D86;
  height: 64px;
}


/* ============== Title ============== */
.jumbotron {
  color: #C44B4F;
}

.titleName {
  font-size: 44px
}

.titleAdj {
  font-size: 18px;
}

.titleBox {
  border: 3px solid #607D86;
  width: 500px;
  margin: 0 auto;
  font-size: 44px;
}

/* ============ About Me  ============ */
.btn-floating i {
  color: #C44B4F;
}

h3 {
  color: #C44B4F;
  font-weight: bolder
}

.info {
  font-size: 14px;
  line-height: 28px;
}

.aboutMeSocial {
  margin-top: 10px;
}

/* ============= Resume  ============= */
.secResume {
  position: relative;
}

.timelineBar {
  background-color: #CBCDCB;
  content: '';
  width: 4px;
  opacity: 0.2;
  margin-left: -2px;
  position: absolute;
  left: 50%;
  height: 215px;
  top: 115px;
}

/* Timeline Dots */
.dot {
  height: 12px;
  width: 12px;
  margin-left: -4px;
  display: block;
  position: absolute;
  border-radius: 50%;
  background-color: #C44B4F;
  border: 1px solid black;
}

.dot:hover{
  background-color: white;
  border: 1px solid red;
}

#eduState {
  top: 0;
}

#workDoby {
  top: 45px;
}

#eduElon {
  top: 80px;
}

#workRec {
  top: 100px;
}

#eduPT {
  top: 135px;
}

#eduCode {
  top: 170px;
}

/* Timeline Titles */
#title {
  color: #C44B4F;
  font-weight: bolder
}

/* Timeline cards */
.work,
.education {
  background-color: #CBCDCB;
  color: #4C5355;
  position: relative;
}

.eduInfo,
.workInfo {
  font-size: 14px;
  line-height: 28px;
}

.arrow {
  position: absolute;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 10px solid #CBCDCB; 
  overflow: hidden;
  box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
}

.arrow:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: #999;
  transform: rotate(45deg); /* Prefixes... */
  top: 75px;
  left: 25px;
  box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
}

.eduArrow {
  right: -10px;
  top: 3px;
}

.workArrow {
  left: -10px;
  top: 41px;
  transform: rotate(0.5turn);
}

#eduLeft,
#eduRight,
#workLeft,
#workRight {
  margin-top: 10px; 
}

/* ============= Skills  ============= */
.skillBack {
  width: 50px;
  height: 50px;
  line-height: 50px;
  padding: 0;
  background: #CBCDCB;
  border-radius: 50%;
  position: relative;
  display: inline-block;
}

.skillBack i {
  width: inherit;
  display: inline-block;
  text-align: center;
  font-size: 35px;
  line-height: 51px;
}

.fa-html5 {
  color: #e34c26;
}

.fa-css3 {
  color: #264de4;
}

.proSkill.fa-github {
  color: black;
}



/* ============ Portfolio ============ */



