* {
	box-sizing: border-box;
}

html {
  background-size: cover;
}

body {
  background: url();
  /* background-color: black; */
  /* color: white */
}

/* Nav Bar */
.navbar-transparent,
.navbar-nav,
.active {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 1px #ffffff inset;
  margin-top: 0;
}

.navbar-transparent {
  box-shadow: 0 0 0 #000000;
}

.navbar {
  padding: 30px 0;
  transition: all 1s ease-out 0s;
  z-index: 3000;
}

.navbar,
.navbar-nav,
.active {
  border-radius: 4px;
  color: #ffffff;
  transition: all 0.2s ease-out 0s;
}

/* About Me */

/* Resume */

/* Skills */

/* Portfolio */


