* {
	box-sizing: border-box;
}

html {
  background-size: cover;
}

body {
  /* background: url(); */
  background-color: #4C5355;
  color: #CBCDCB;
}

/* ============= Nav Bar ============= */
nav {
  background-color: rgba(76, 83, 85, .8);
  height: 85px;
  padding: 7px;
}

.nav-link {
  color: #CBCDCB;
}

.nav-link:hover,
#selected:hover {
  background-color: #CBCDCB;
  color: #C44B4F;
}

#selected {
  background-color: rgba(0, 0, 0, 0);
  color: #CBCDCB;
  border: 3px solid #607D86;
  height: 64px;
}


/* ============== Title ============== */
.jumbotron {
  color: #C44B4F;
}

.titleName {
  font-size: 44px
}

.titleAdj {
  font-size: 18px;
}

.titleBox {
  border: 3px solid #607D86;
  width: 500px;
  margin: 0 auto;
  font-size: 44px;
}

/* ============ About Me  ============ */
.btn-floating i {
  color: #C44B4F;
}

h3 {
  color: #C44B4F;
  font-weight: bolder
}

.info {
  font-size: 14px;
  line-height: 28px;
}

.aboutMeSocial {
  margin-top: 10px;
}

/* ============= Resume  ============= */
.timelineBar {
  background-color: aqua;
}

#title {
  color: #C44B4F;
  font-weight: bolder
}

.work,
.education {
  background-color: #CBCDCB;
  color: #4C5355;
  position: relative;
}

.eduInfo,
.workInfo {
  font-size: 14px;
  line-height: 28px;
}

.arrow {
  color: #CBCDCB;
  position: absolute;
}

.eduArrow {
  right: -39px;
  top: 60px;
}

.workArrow {
  left: -39px;
  transform: rotate(0.5turn);
}

/* ============= Skills  ============= */


/* ============ Portfolio ============ */



