.btn-floating i {
  color: #61892f;
}

.info {
  font-size: 14px;
  line-height: 28px;
}

.aboutMeDes {
  padding-top: 12px;
}

.perInfo {
  border-bottom: 1px solid rgba(97, 137, 47, .5);
  padding: 6px 0;
  line-height: 43px;
}

.headshot {
  margin-top: 21px;
  border: 5px solid white;
  border-radius: 5px;
  height: 250px;
  width: 250px;
  object-fit: cover;
  object-position: 50% 25%;
}

.aboutMeSocial {
  margin-top: 10px;
}