// IMPORTS ======================================================================================== 
@import '../../styles/scss/variables';

// STYLES ========================================================================================= 
.page-footer,
.footer-copyright {
  background-color: $black;
  text-align: center;
}

.page-footer {
  padding-top: 0;
}

.footerSocial a{
  color: #CBCDCB;
}

.footerSocial i{
  font-size: 20px;
}

#footerText {
  line-height: 17px;
}